.staticBox{
    max-width: 1000px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
}
.staticStepper{
    max-width: 86% !important;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
}
.imageSpan{
    display: inline-block;
    padding-left: 150px;
    float: right;
}
.ifl-left-section{
    float: left;
    padding: 15px 0;
    position: relative;
    z-index: 1;
}
h5{
    color: #e66f13;
}
::ng-deep.mat-horizontal-stepper-header-container{
    width:calc(100% - 30rem)!important;
    margin-left:calc(100% - 60rem)  !important;
    /* margin-bottom: -4rem !important; */
    height: 3rem !important;
    font-size:small !important
}
::ng-deep .mat-step-text-label{
    font-size:smaller !important
}